---
layout: default
---

<div id="vanta-hero" class="hero">
    <div class="hero-content">
        <div class="hero-item">
            <img src="{{site.baseurl}}/assets/images/labthings_typelogo.svg"></img>
            <p>
                The open platform for connected laboratory instruments
            </p>
        </div>
    </div>
    <div id="hero-chevron">
        <span class="chevron bottom"></span>
    </div>

</div>

<div class="home-content">

    <h1>For Lab Developers</h1>
    <ul class="list">
        <li class="home-item list-item">
            <h2>IP for the Lab</h2>
            <div class="home-item-p-large">
                <p>
                    <b>HTTP and WebSocket</b> APIs enable lab control with ubiquitous protocols. With billions of users, the technology is trusted.
                </p>
                <p>
                    Device discovery leverages <b>mDNS</b>, the same standard protocol used by millions of connected devices.
                </p>
            </div>
            <pre><code class="shell">{% include snippets/mdns-scan.shell %}</code></pre>
        </li>

        <li class="home-item list-item">
            <h2>Standardised spec, common descriptions</h2>
            <div class="home-item-p-large">
                <p>Why reinvent the wheel? The W3C have <a href="https://www.w3.org/WoT/">standardised designing and describing Web of Things devices.</a></p>
                <p>LabThings implements these standards to provide a robust, interoperable communication framework.</p>
            </div>
            <pre><code class="json">{% include snippets/w3c_td.json %}</code></pre>
        </li>

        <li class="home-item list-item">
            <h2>Adapt your existing Python code</h2>
            <div class="home-item-p-small">
                <p>With a couple of lines, convert your existing instrument control libraries into a fully documented, standardised, and discoverable API.</p>
            </div>
            <pre><code class="python">{% include snippets/adapt.py %}</code></pre>

        </li>

        <li class="home-item list-item">
            <h2>Self-documenting APIs</h2>
            <div class="home-item-p-small">
                <p>By parsing your device control code, W3C Thing Descriptions and interactive API documentation are created with zero additional work.</p>
            </div>
            <pre><code class="json">{% include snippets/doc_snippet.json %}</code></pre>
        </li>

        <li class="home-item list-item">
            <h2>Built-in extension management</h2>
            <p>Built in extension management allows developers to add and remove functionality from your Lab Thing.</p>
        </li>

    </ul>


    <h1>For Lab Users</h1>
    <ul class="list">
        <li class="home-item list-item">
            <h2>A complete lab overview</h2>
        </li>
        <li class="home-item list-item">
            <h2>Common networking</h2>
        </li>
        <li class="home-item list-item">
            <h2>Interactive documentation</h2>
        </li>
        <li class="home-item list-item">
            <h2>Scripting and Discovery</h2>
        </li>
        <li class="home-item list-item">
            <h2>Visual programming</h2>
        </li>
        <li class="home-item list-item">
            <h2>Events and data broadcasting</h2>
        </li>
    </ul>

</div>

<script src="{{site.baseurl}}/assets/js/three.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vanta.net.min.js"></script>
<script>
    VANTA.NET({
        el: "#vanta-hero",
        mouseControls: false,
        touchControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x5bed6c,
        backgroundColor: 0xFAF7FD,
        spacing: 16.00,
        showDots: false
    })
</script>