@import 'variables';

.content {
    margin-top: $header-height + 20px;
}

.home-content {
    margin-top: 40px;
}

.content, .home-content {
    padding-left: $global-left-padding;
    @media screen and (max-width: $break-small) {
        padding-left: $global-left-padding-mobile;
    }
}

.home-item {
    display: block;
    width: 480px;
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}

.home-item-p-small {
    height: 70px;
}

.home-item-p-large {
    height: 120px;
}